<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of employees</title>
</head>
<body>
<h1>The list of employees</h1>

<a th:href="@{employees/showFormAdd}">Add employee</a>

<table class="table">
  <thead>
  <tr>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">Email</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="employee: ${employees}">
    <td th:text="${employee.firstName}"></td>
    <td th:text="${employee.lastName}"></td>
    <td th:text="${employee.email}"></td>
    <td>detail
      <a th:href="@{/update/edit/{id}(id=${employee.id})}">Modifier</a>
<!--      <a th:href="@{/delete/{id}(id=${customer.id})}" onclick="if (!(confirm('Are you sure you want to delete this customer?'))) return false">Supprimer</a>-->
    </td>
  </tr>

  </tbody>
</table>

</body>
</html>